@media (max-width:1140px) {
    .intro{
        height: 600px;
    }
}
@media (max-width:1000px) {
    .widow{
        background: #feffff91;
        height: 500px;
    }
    .widow__box{
        align-items: center;
    }
    .widow__video{
        max-width: 1000px;
        height: 500px;
    }
    .film__box{
        max-width: 550px;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 15px;
    }
    .film__card{
        height: 320px;
    }
    .film__title,
    .film__text,
    .film__play,
    .film__time{
        transform: translate(0);
    }
    .film__text{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-y: scroll;
    }
    .title{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .film{
        margin-top: 15px;
    }
    .intro__box{
        align-items: center;
    }
    .intro__title{
        font-size: 54px;
    }
    .intro__text{
        max-width: 500px;
    }
    .intro{
        height: 500px;
    }
}
@media (max-width:800px) {
    .widow{
        height: 400px;  
    }
    .widow__video{
        height: 400px;
    }
    .widow__title{
        width: 350px;
        height: 80px;
    }
    .widow__box{
        gap: 20px;
    }
    .widow__text{
        font-size: 16px;
        line-height: 20px;
    }
    #check{
        display: block;
    }
    .menu img{
        display: block;
    }
    .header__top{
        padding: 10px 0;
    }
    .nav__link span{
        padding: 30px 8px;
    }
    .intro{
        height: 400px;
    }
    header{
        position: relative;
        overflow: hidden;
    }
    .close img{
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .nav__list{
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        background-color: var(--dark);
        height: 100vh;
        padding: 30px;
        padding-left: 50px;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s;
    }
    #check{
        display: none;
    }


    
    #check:checked +.nav__list{
        transform: translate(0);
        transition: 0.5s;
    }
    .nav{
        padding: 10px 0;
    }
    .intro__title{
        font-size: 40px;
    }
    .intro__text{
        font-size: 15px;
        text-align: center;
    }
    .header__top__img{
        width: 40px;
        height: 30px;
    }
    .header__top__text{
        font-size: 15px;
    }
    .nav__logo span{
        font-size: 17px;
    }
    .nav__logo img{
        width: 90px;
        height: 35px;
    }
}
@media (max-width:600px) {
    .film__box{
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: scroll;
    }
    .film__card{
        flex-shrink: 0;
        width: 200px;
    }
    .film__title{
        font-size: 18px;
    }
    .title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .intro__box{
        gap: 15px;
    }
    .intro__title{
        font-size: 35px;
    }
    .intro__text{
        line-height: 120%;
    }
    .btn{
        padding: 10px 35px;
    }
    .intro{
        height: 300px;
    }
}
@media (max-width:400px) {
    .widow__video{
        height: 280px;
    }
    .widow{
        height: 280px;
    }
    .widow__title{
        width: 250px;
        height: 60px;
    }
    .widow__text{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-y: scroll;
    }
    .film__card{
        width: 150px;
        height: 230px;
        padding: 5px;
    }
    .film__play{
        width: 30px;
        height: 33px;
    }
    .film__time{
        padding: 4px 15px;
        font-size: 13px;
    }
    .film__text{
        -webkit-line-clamp: 4;
        line-height: 15px;
    }
    .film__title{
        font-size: 15px;
    }
    .intro__title{
        font-size: 30px;
    }
    .intro__text{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-y: scroll;
    }
    .intro__btns{
        gap: 10px;
    }
    .btn{
        padding: 10px 20px;
        font-size: 14px;
    }
    .intro{
        height: 250px;
    }
    .nav__logo img{
        width: 70px;
        height: 25px;
    }
    .nav__logo span{
        font-size: 13px;
    }
    .header__top{
        padding: 6px 0;
    }
    .nav__link span{
        padding: 15px 5px;
    }
}