@import url(./font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: unset;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transform: translateY(2px);
    transition: 0.3s;
    opacity: 0.7;
}

:root {
    --c700: "Comfortaa-Bold";
    --c400: "Comfortaa-Regular";
    --m700: "Montserrat-Bold";
    --m400: "Montserrat-Regular";
    --r500: "Roboto-Medium";
    --r400: "Roboto-Regular";
    --gold: #F18128;
    --dark: #040D1F;
}

.header__top {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
    animation: bg 2s linear infinite;
}

@keyframes bg {
    0% {
        filter: hue-rotate(0);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(180.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    border-radius: 10px;
}

body::-webkit-scrollbar {
    background-color: var(--dark);
}

.header__top__text {
    font-family: var(--c400);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

.header__top__img {
    animation: film 2s linear infinite;
}

@keyframes film {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

.nav {
    background-color: #010305;
}

.nav__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo span {
    font-family: var(--c700);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
}

.nav__list {
    display: flex;
    gap: 12px;
}

.nav__link {
    font-family: var(--m400);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
}

.nav__link::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--gold);
    display: block;
    border-radius: 2px 2px 0 0;
    transform: scale(0);
    transition: 0.5s;
}

.nav__link span {
    padding: 40px 9px;
    display: block;
}

.nav__link:hover {
    color: var(--gold);
    transition: 0.5s;
}

.nav__link:hover::after {
    transform: scale(1);
    transition: 0.5s;
}

body {
    background-color: var(--dark);
}

.intro {
    background-image: url(../Images/intro_bg.png);
    height: 760px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.intro::after {
    background-color: #070F19BF;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.intro__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intro__title {
    font-family: var(--m700);
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #fff;
}

.intro__text {
    font-family: var(--m400);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
}


.intro__btns {
    display: flex;
    gap: 30px;
}

.btn {
    font-family: var(--r500);
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #fff;
    background-color: var(--dark);
    padding: 17px 47px;
    border-radius: 4px;
}

.btn:hover {
    background-color: var(--gold);
    color: var(--dark);
}

.film {
    margin: 60px 0 77px;
}

.title {
    font-family: var(--c700);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: var(--gold);
    text-transform: capitalize;
    display: inline-block;
    width: max-content;
}

.title::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--gold);
    display: block;
    margin-top: 10px;
    transform: scale(0);
    transition: 0.3s;
    border-radius: 2px;
}

.title:hover::after {
    transform: scale(1);
    transition: 0.3s;
}

.film__box {
    margin-top: 54px;
    display: flex;
    gap: 30px;
}

.film__card {
    width: 255px;
    height: 367px;
    background-image: url(../Images/film_1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    z-index: 1;
    gap: 15px;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
}

.film__card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.film__time {
    font-family: var(--m400);
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #fff;
    border: 1px #fff solid;
    padding: 7px 28px;
    border-radius: 9px;
    background-color: #070F1933;
    transform: translateX(-200px);
    transition: 0.5s;
}

.film__title {
    font-family: var(--c700);
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    transform: translateX(230px);
    transition: 0.5s;
}

.film__text {
    font-family: var(--r400);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    transform: translateY(200px);
    transition: 0.5s;
}

.film__card:nth-child(2) {
    background-image: url(../Images/film_2.png);
}

.film__card:nth-child(3) {
    background-image: url(../Images/film_3.png);
}

.film__card:nth-child(4) {
    background-image: url(../Images/film_4.png);
}

.film__play {
    transform: translateY(-100px);
    transition: 0.5s;
}

.film__card:hover .film__play {
    transform: none;
    transition: 0.5s;
}

.film__card:hover .film__text,
.film__card:hover .film__time,
.film__card:hover .film__title {
    transform: none;
    transition: 0.5s;
}

.film__card:hover {
    box-shadow: 0 0 30px #fff;
    transition: 0.5s;
}

.widow {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
}

.widow__video {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.widow__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.widow__text {
    font-family: var(--r400);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000;
    max-width: 558px;
}

.collect {
    padding: 60px 0;
}

.collect__box {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.collect__card {
    width: 350px;
    height: 193px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 6px;
}

.collect__img {
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

.collect__left {
    position: absolute;
    left: 7px;
    top: 7px;
    transition: 0.5s;
    transform: translateY(-110%);
}

.collect__right {
    position: absolute;
    right: 7px;
    top: 7px;
    transition: 0.5s;
    transform: translateY(110%);
}

.collect__card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    z-index: -1;
}

.collect__title {
    font-family: var(--c700);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    transform: translateY(80px);
    transition: 0.5s;
}

.collect__play {
    transform: scale(0);
    transition: 0.5s;
}

.collect__card:hover .collect__title {
    transform: none;
    transition: 0.5s;
}

.collect__card:hover .collect__play {
    transform: scale(1) rotate(720deg);
    transition: 0.5s;
}

.collect__card:hover .collect__right,
.collect__card:hover .collect__left {
    transform: translate(0) rotateY(720deg);
    transition: 0.5s;
}

.collect__card:hover {
    box-shadow: 0 0 30px #fff;
}

.collect__card:hover .collect__img {
    transform: scale(1.1);
    transition: 0.5s;
}

.series {
    padding-bottom: 63px;
}

.series__game {
    width: 100%;
    height: 436px;
    background-image: url(../Images/game_bg.png);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 22px;
    position: relative;
    z-index: 1;
    margin-top: 54px;
}

.series__game::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    position: absolute;
    z-index: -1;
}

.game__title {
    font-family: var(--c700);
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
}

.game__text {
    font-family: var(--c400);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}


.series__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.series__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid__item {
    min-height: 183px;
    background-image: url(../Images/series_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
}

.grid__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    z-index: -1;
}

.grid__item:nth-child(1) {
    grid-row: span 2;
    grid-column: span 2;
}

.grid__title {
    font-family: var(--c700);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
    transform: translateX(-370px);
    transition: 0.5s;
}

.grid__item:nth-child(2) {
    background-image: url(../Images/series_2.png);
}

.grid__item:nth-child(3) {
    background-image: url(../Images/series_3.png);
}

.grid__item:nth-child(4) {
    background-image: url(../Images/series_4.png);
}

.grid__item:nth-child(5) {
    background-image: url(../Images/series_5.png);
}

.grid__item:hover .grid__title {
    transform: translate(0) rotateX(360deg);
    transition: 0.5s;
}

.grid__play {
    transform: translateX(300px);
    transition: 0.5s;
}

.grid__item:hover .grid__play {
    transform: translate(0) rotate(360deg);
    transition: 0.3s;
}

.grid__item:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px #fff;
}

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    padding: 24px 0;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    gap: 50px;
}

.footer__text {
    font-family: var(--c700);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
}

.close img,
.menu img {
    width: 25px;
    height: 25px;
    display: none;
}

#check {
    display: none;
}